<div class="container topnav">
    <nav class="navbar navbar-light bg-light">
        <a class="nav-link" href="javascript:void(0)" role="button" data-widget="pushmenu" (click)="toggleMenu()">
            <i class="fas fa-bars" style="font-size: 20px;"></i></a>
        <a href="javascript:void(0)" (click)="isload()" class="navbar-brand"> FTS Document Management</a>
        <ul class="navbar-nav">
            <div style="display: flex;align-items: center;">
                <li class="nav-item">
                    <a (click)="openRightMenu()" class="nav-link" data-widget="control-sidebar" data-slide="true"
                        href="javascript:void(0)" role="button">
                        <img src="{{Image}}" alt="" class="user-avatar">
                    </a>
                </li>
            </div>

        </ul>
    </nav>
    @if (openPanel) {
    <div class="sidebarRight w3-bar-block w3-border-right">
        <div class="left">
            <span>{{Name}}</span>
        </div>
        <div class="right">
            <a href="javascript:void(0)" class="dropdown-item" (click)="signOut()">
                <i class="fa fa-power-off mr-2 themecolor"></i> Sign out </a>
        </div>
    </div>
    }
</div>

<div class="wrapper">
    <aside class="main-sidebar">
        <nav id="sidebar" class="navbar">
            <ul class="navbar-nav nav-sidebar flex-column">
                <a href="javascript:void(0)" (click)="isload()"><i
                        class="fa fa-home homeMenu"></i>Home
                </a>
                <li *ngFor="let item of menus; let i = index" class="mb-2 nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="toggleSubMenu(i)">
                        <i style="padding-right: 8px;" class="{{item.icon}}"></i> {{ item.title }}
                        <i style="padding-left: 5px;" *ngIf="item.children && item.children.length > 0" class="fa"
                            [ngClass]="{'fa-chevron-down':isSubMenuOpen[i],'fa-chevron-right':!isSubMenuOpen[i]}"></i>
                    </a>
                    <ul id="menu{{i}}" [ngClass]="{'collapse': !isSubMenuOpen[i]}" class="navbar ms-3 mt-2"
                        *ngIf="item.children && item.children.length > 0">
                        <li *ngFor="let child of item.children" class="mb-1 nav-item"
                            [ngClass]="{'active':selectedUrl == child.routeUrl}">
                            <a class="nav-link" (click)="openMdFile(child)">
                                {{ child.title }} 
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</div>

<router-outlet></router-outlet>