<div class="container topnav">
    <nav class="navbar navbar-light bg-light">
        <a href="javascript:void(0)" (click)="isload()" class="navbar-brand"> FTS Document Management</a>
        <ul class="navbar-nav">
            <li>
                <!-- <a data-bs-toggle="dropdown" href="javascript:void(0)" class="nav-link"><img src="{{Image}}" alt=""
                        class="user-avatar"></a> -->
            <li class="nav-item dropdown"><a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link show"
                    aria-expanded="true">
                    <img href="javascript:void(0)" src="{{Image}}" alt="" class="user-avatar"></a>
                <div class="dropdown-menu dropdown-menu-right show" style="left: auto;" data-bs-popper="static">
                    <a href="javascript:void(0)" class="dropdown-item">
                        <span class="text-sm text-muted d-block">
                            Signed in as</span>
                        <span>{{Name}}</span></a>
                    <div class="dropdown-divider">
                    </div>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="fa fa-power-off mr-2 themecolor"></i> Sign out </a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar" class="sidebar">
        <div (click)="toggleMenu()">

        </div>
        <ul class="menu list-unstyled">
            <a href="javascript:void(0)" (click)="isload()"><i style="padding-right: 8px;padding-bottom: 10px;"
                    class="fa fa-home"></i>Home
            </a>
            <li *ngFor="let item of menus; let i = index" class="mb-2">
                <a href="javascript:void(0)" (click)="toggleSubMenu(i)">
                    <i style="padding-right: 8px;" class="{{item.icon}}"></i> {{ item.title }}
                    <i style="padding-left: 5px;" *ngIf="item.children && item.children.length > 0"
                        class="fa fa-chevron-down"></i>
                </a>
                <ul id="menu{{ i }}" [ngClass]="{'collapse': !isSubMenuOpen[i]}" class="list-unstyled ms-3 mt-2"
                    *ngIf="item.children && item.children.length > 0">
                    <li *ngFor="let child of item.children" class="mb-1">
                        <a (click)="openMdFile(child.url)">
                            {{ child.title }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="content">
        @if (homePageLoad) {
        <dashboard [childMenu]="childMenu" (openMdFile)="homePage()"></dashboard>
        }
        @else {
        <mark-down-load [loadPage]="true"></mark-down-load>
        }
    </div>
</div>